/**********************************************
*** GERAL
***********************************************/

body{
    background-color: #68627a;
    font-family: Lato;
}

/**********************************************
*** JOGO
***********************************************/

#main{    
    min-width: 576px;
    background-color: #f9f7ff;   
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);    
}

.vencedor{
    background-color: #f2effc;       
}

i{
    color: #68627a;
    margin-right: 10px;
    font-size: 35px;
    line-height: 20px;
}

.btn{
    font-size: 20px;
    transition: font-size 0.3s;
}

button:focus{
    box-shadow: none !important;
}

.btn:hover{    
    font-size: 21px;
}

/***** CARTAS *****/
.card-modelo{
    box-sizing: border-box;
    height: 123px;
    width: 79px;  
    margin: 50px auto;    
    border: 0px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);    
}

.card-back-1{
    background: url(img/card-back-1.png) 0px 0px;
}
.card-back-2{
    width: 80px;
    background: url(img/card-back-2.png) 0px 0px;
}
.card-back-3{
    width: 82px;
    background: url(img/card-back-3.png) 0px 0px;
}
.card-back-4{
    width: 84px;
    background: url(img/card-back-4.png) 0px 0px;
}
.card-back-5{
    width: 86px;
    background: url(img/card-back-5.png) 0px 0px;
}
.card-back-6{
    width: 88px;
    background: url(img/card-back-6.png) 0px 0px;
}
.card-back-7{
    width: 90px;
    background: url(img/card-back-7.png) 0px 0px;
}
.card-back-8{
    width: 92px;
    background: url(img/card-back-8.png) 0px 0px;
}
.card-back-9{
    width: 94px;
    background: url(img/card-back-9.png) 0px 0px;
}
.card-back-10{
    width: 96px;
    background: url(img/card-back-10.png) 0px 0px;
}
.card-back-11{
    width: 98px;
    background: url(img/card-back-11.png) 0px 0px;
}
.card-back-12{
    width: 100px;
    background: url(img/card-back-12.png) 0px 0px;
}
.card-back-13{
    width: 102px;
    background: url(img/card-back-13.png) 0px 0px;
}
.card-back-14{
    width: 104px;
    background: url(img/card-back-14.png) 0px 0px;
}
.card-back-15{
    width: 106px;
    background: url(img/card-back-15.png) 0px 0px;
}
.card-back-16{
    width: 108px;
    background: url(img/card-back-16.png) 0px 0px;
}
.card-back-17{
    width: 110px;
    background: url(img/card-back-17.png) 0px 0px;
}
.card-back-18{
    width: 112px;
    background: url(img/card-back-18.png) 0px 0px;
}
.card-back-19{
    width: 114px;
    background: url(img/card-back-19.png) 0px 0px;
}
.card-back-20{
    width: 116px;
    background: url(img/card-back-20.png) 0px 0px;
}

.card-a-p{
    background: url(img/Cards.png) 0px 0px;
}
.card-a-o{
    background: url(img/Cards.png) 0px -123px;
}
.card-a-c{
    background: url(img/Cards.png) 0px -246px;
}
.card-a-e{
    background: url(img/Cards.png) 0px -369px;
}

.card-2-p{
    background: url(img/Cards.png) -79px 0px;
}
.card-2-o{
    background: url(img/Cards.png) -79px -123px;
}
.card-2-c{
    background: url(img/Cards.png) -79px -246px;
}
.card-2-e{
    background: url(img/Cards.png) -79px -369px;
}

.card-3-p{
    background: url(img/Cards.png) -158px 0px;
}
.card-3-o{
    background: url(img/Cards.png) -158px -123px;
}
.card-3-c{
    background: url(img/Cards.png) -158px -246px;
}
.card-3-e{
    background: url(img/Cards.png) -158px -369px;
}

.card-4-p{
    background: url(img/Cards.png) -237px 0px;
}
.card-4-o{
    background: url(img/Cards.png) -237px -123px;
}
.card-4-c{
    background: url(img/Cards.png) -237px -246px;
}
.card-4-e{
    background: url(img/Cards.png) -237px -369px;
}

.card-5-p{
    background: url(img/Cards.png) -316px 0px;
}
.card-5-o{
    background: url(img/Cards.png) -316px -123px;
}
.card-5-c{
    background: url(img/Cards.png) -316px -246px;
}
.card-5-e{
    background: url(img/Cards.png) -316px -369px;
}

.card-6-p{
    background: url(img/Cards.png) -395px 0px;
}
.card-6-o{
    background: url(img/Cards.png) -395px -123px;
}
.card-6-c{
    background: url(img/Cards.png) -395px -246px;
}
.card-6-e{
    background: url(img/Cards.png) -395px -369px;
}

.card-7-p{
    background: url(img/Cards.png) -474px 0px;
}
.card-7-o{
    background: url(img/Cards.png) -474px -123px;
}
.card-7-c{
    background: url(img/Cards.png) -474px -246px;
}
.card-7-e{
    background: url(img/Cards.png) -474px -369px;
}

.card-8-p{
    background: url(img/Cards.png) -553px 0px;
}
.card-8-o{
    background: url(img/Cards.png) -553px -123px;
}
.card-8-c{
    background: url(img/Cards.png) -553px -246px;
}
.card-8-e{
    background: url(img/Cards.png) -553px -369px;
}

.card-9-p{
    background: url(img/Cards.png) -632px 0px;
}
.card-9-o{
    background: url(img/Cards.png) -632px -123px;
}
.card-9-c{
    background: url(img/Cards.png) -632px -246px;
}
.card-9-e{
    background: url(img/Cards.png) -632px -369px;
}

.card-10-p{
    background: url(img/Cards.png) -711px 0px;
}
.card-10-o{
    background: url(img/Cards.png) -711px -123px;
}
.card-10-c{
    background: url(img/Cards.png) -711px -246px;
}
.card-10-e{
    background: url(img/Cards.png) -711px -369px;
}

.card-j-p{
    background: url(img/Cards.png) -790px 0px;
}
.card-j-o{
    background: url(img/Cards.png) -790px -123px;
}
.card-j-c{
    background: url(img/Cards.png) -790px -246px;
}
.card-j-e{
    background: url(img/Cards.png) -790px -369px;
}

.card-q-p{
    background: url(img/Cards.png) -869px 0px;
}
.card-q-o{
    background: url(img/Cards.png) -869px -123px;
}
.card-q-c{
    background: url(img/Cards.png) -869px -246px;
}
.card-q-e{
    background: url(img/Cards.png) -869px -369px;
}

.card-k-p{
    background: url(img/Cards.png) -948px 0px;
}
.card-k-o{
    background: url(img/Cards.png) -948px -123px;
}
.card-k-c{
    background: url(img/Cards.png) -948px -246px;
}
.card-k-e{
    background: url(img/Cards.png) -948px -369px;
}
